<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <dllmap dll="SDL2" os="windows" target="SDL2.dll"/>
    <dllmap dll="SDL2" os="osx" target="libSDL2-2.0.0.dylib"/>
    <dllmap dll="SDL2" os="linux" target="libSDL2-2.0.so.0"/>
    <dllmap dll="X11" os="linux" target="libX11.so.6"/>
    <dllmap dll="Xtst" os="linux" target="libXtst.so.6"/>
</configuration>