<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <dllmap dll="SDL3" os="windows" target="SDL3.dll"/>
    <dllmap dll="SDL3" os="osx" target="libSDL3.0.dylib"/>
    <dllmap dll="SDL3" os="linux,freebsd,netbsd" target="libSDL3.so.0"/>
    <dllmap dll="X11" os="linux,freebsd,netbsd" target="libX11.so.6"/>
    <dllmap dll="Xtst" os="linux,freebsd,netbsd" target="libXtst.so.6"/>
</configuration>
